.contact {
    width: 100%;
    max-width: 300px;
    margin: 18px auto;
    text-align: center;
    font-size: 18px;
}

.icon {
    padding-bottom: 8px;
}

.contactAnchor {
    display: block;
    width: 100%;
}

.sns {
    margin: 0 auto;
}

.snsAnchor {
    font-size: 42px;
    margin: 2px auto;
}
