.tag {
  border-radius: 4px;
  width: min-content;
  padding: 2px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
}

.footTag {
    width: 90vw;
    margin: 12px auto;

    .tag {
        margin: 2px auto;
    }
}
