.header {
  height: 72px;
  width: 100vw;
  font-size: 30px;
  color: var(--theme-text);
  background: #1a161a;
  box-shadow: 1px 1px 1px #544854;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  a {
    color: var(--theme-text) !important;
  }

  @media (min-width: 890px) {
    display: flex;
  }
}

.contents {
  width: 100%;
  display: flex;
  align-items: center;
  height: min-content;

  @media (min-width: 890px) {
    position: absolute;
    right: 15px;
    height: 100%;
    width: auto;
  }

  @media (max-width: 889px) {
    padding: 3px 0;
    background: #1a161a;
    box-shadow: 1px 1px 1px #544854;
  }
}

.title {
  position: relative;
  left: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
}

.icon {
  width: 36px;
  object-fit: contain;
}

.anchor {
  width: auto;
  margin: 0 16px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #fff;

  &::after {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: " ";
    width: 100%;
    height: 2px;
    background: white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: scale(1.1, 1);
  }

  @media (min-width: 890px) {
    font-size: 28px !important;
  }
}

.active {
  a {
    color: #fff !important;
    &::after {
      position: absolute;
      left: 0;
      bottom: -2px;
      content: " ";
      width: 100%;
      height: 2px;
      background: white;
      transform: scale(1.1, 1);
      transform-origin: center top;
    }
  }
}
