.mailform {
  &--modal {
    width: 300px;
    z-index:5000;
  }
  &--name {
    width: 100%;
    margin: 5px auto 10px auto;
    &__form {
      width: 75%;
    }
  }

  &--subject {
    width: 100%;
    margin: 5px auto 10px auto;
    &__form {
      width: 75%;
    }
  }

  &--mailaddress {
    width: 100%;
    margin: 5px auto 10px auto;
    &__form {
      width: 75%;
      margin-left: 42px;
      margin-top: 3px;
    }
  }
}
