.itemHomeAnchor {
  color: var(--theme-color);
  text-decoration: none;
  display: inline-block;
}

.itemHomeAnchor .title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding: 8px 12px;
}

.home {
  min-width: 300px;
  width: 80%;
  max-width: 750px;
  margin: 12px auto;
}

.home .date {
  padding: 16px 6px;
  font-size: 18px;
}

.home .readMoreAnchor {
  margin: 16px 0;
  position: absolute;
  right: 24px;
  font-size: 20px;
  color: var(--theme-color);
}

.home .readMore {
  position: relative;
  margin: 4px 0;
  height: 64px;
}

.home .ogp {
  width: 100%;
  margin: 12px 0;
  height: fit-content;
}