#drawer {
  width: 110vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #402840;
  color: white;
  z-index: 9999;

  transition: left 0.6s 2ms ease-in-out;
}

.drawer {
  left: 210vw;

  &--active {
    left: 0;
  }
}
