@import "../core";

:root {
  --theme-header: #1a161a;
  --theme-background: #fcfcfc;
  --theme-color: #1e1e1e;
  --headings-color: #f2aaf2;
  --twitter-background: #fff;
  --twitter-toggle: #e6ecf0;
  --twitter-cancel: #e6ecf0;
  --item-background: #fff;
  --item-border: #f6e6ff;
  --image-gray: grayscale(0%);

  @media (prefers-color-scheme: dark) {
    --theme-background: #3c3c3b;
    --theme-color: #e4e4e4;
    --headings-color: #d2f0da;
    --twitter-background: #15202b;
    --twitter-toggle: #1c2938;
    --twitter-cancel: #243447;
    --item-background: #7b7a79;
    --item-border: #a2a2a1;
    --image-gray: grayscale(15%);
  }
}

body {
  background: var(--theme-background) !important;
  color: var(--theme-color) !important;
}

.header {
  height: 72px;
  width: 100vw;
  font-size: 30px;
  color: $theme_text;
  background: $theme_header;
  box-shadow: 1px 1px 1px #544854;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 6px 0px;
  z-index: 1000000;

  a {
    text-decoration: none;
    color: $theme_text;
  }

  &--title {
    position: relative;
    left: 10px;
    width: fit-content;

    &__toHome {
      text-decoration: none;
      color: $theme_text;
    }

    &__icon {
      width: 36px;
      object-fit: contain;
    }
  }

  .header--contents {
    width: auto;
    display: flex;

    &__anchorBlock {
      width: auto;
      margin: 0 20px;
      position: relative;
      display: inline-block;
      font-size: 16px;

      &::after {
        position: absolute;
        left: 0;
        bottom: 2px;
        content: " ";
        width: 100%;
        height: 2px;
        background: $theme_text;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform 0.3s;
      }

      &:hover::after {
        transform: scale(1.1, 1);
      }
    }
  }
}

@media (min-width: 750px) {
  .header {
    display: flex;
  }
  .header--contents {
    display: flex;
    position: absolute;
    right: 15px;

    &__anchorBlock {
      font-size: 28px !important;
    }
  }
}
