#modal--mailform {
  position: fixed;
  width: 300px;
  height: 400px;
  top: calc(50vh - 200px);
  left: calc(50vw - 150px);
  background: white;
  border: 1px solid #aaa;
  border-radius: 6px;
  transition: opacity 2s ease;
}

.modal--mailform {
  opacity: 0;
  z-index: -1000000;
  &__active {
    opacity: 1;
    z-index: 100000;
  }
}

.mailform {
  &--header {
    color: black;
    border-bottom: 1px solid #aaa;
    font-size: 20px;
    vertical-align: middle;
    display: flex;
    height: 42px;
    margin: 0 auto;

    &__title {
      width: 200px;
      padding:8px 12px;
    }
  }

  &--close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;

    &__part {
      width: 100%;
      height: 4px;
      background-color: black;
      border-radius: 4px;
      display: inline-block;
      position: absolute;

      &:nth-of-type(1) {
        -webkit-transform: translateY(15px) rotate(-45deg);
        transform: translateY(13px) rotate(-45deg);
        top: 0;
      }

      &:nth-of-type(2) {
        -webkit-transform: translateY(-15px) rotate(45deg);
        transform: translateY(-15px) rotate(45deg);
        bottom: 0;
      }
    }
  }

  &--name {
    width: 100%;
    margin: 5px auto 10px auto;
    &__form {
      width: 75%;
    }
  }

  &--subject {
    width: 100%;
    margin: 5px auto 10px auto;
    &__form {
      width: 75%;
    }
  }

  &--mailaddress {
    width: 100%;
    margin: 5px auto 10px auto;
    &__form {
      width: 75%;
      margin-left: 42px;
      margin-top: 3px;
    }
  }
}

#layer {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

.layer {
  display: none;

  &--active {
    display: block;
  }
}
