.pagination {
  font-size: 32px;
  font-weight: bold;
  color: var(--theme-color);
  text-decoration: none;
  position: absolute;
  bottom: 0;

  &--wrapper {
    position: relative;
    height: 64px;
    width: 100vw;
  }
}

#prev {
  left: 15vw;

  &::before {
    content: "<";
    position: relative;
    right: -17px;
    transition: right 1s .1s ease;
  }

  &:hover {
    &:before {
      right: 0;
    }
  }
}

#next {
  right: 15vw;

  &::after {
    content: ">";
    position: relative;
    left: -17px;
    transition: left 1s .1s ease;
  }

  &:hover {
    &:after {
      left: 0;
    }
  }
}
