.cardStyle {
  width: 200px;
  height: 150px;

  display: inline-block;

  background: #eee;
  border: 1px solid white;
  color: black;
  border-radius: 6px;
  margin: 12px 24px;

  list-style: none;

  img {
    width: 37.5%;
    height: 50%;
    display: block;
    margin: auto;
    object-fit: contain;
  }

  .title {
    font-size: 10%;
    padding: 2px;
    display: inline-block;
    margin: 2px auto;
  }
}
