// Theme
$theme_background:#080708;
$theme_text:#FAF5FA;
$theme_header:#1A161A;
$menu_background:#402840;
$headings_color:#F2AAF2;
$headings_color_reverse:#AAF2B6;

// core
$core_font:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","-apple-system",BlinkMacSystemFont,sans-serif;

