.jobItem {
  margin: 12px 2px;
}

.jobItem .title {
  font-size: 18px;
}

.jobItem .position {
  display: inline-block;
  margin-right: 9px;
}

.jobItem .term {
  display: inline-block;
  margin-left: 9px;
}

.jobItem .meta {
  margin: 3px 4px;
}
