.container {
    height: calc(100vh - 72px);
    width: 100vw;
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

@media (max-width: 889px) {
    .container {
        height: calc(100vh - 102px);
    }
}

.banana {
    height: 200px;
    margin: 20px 20px;
    object-fit: contain;
}

.shinyaigeekPortraitPosition {
    position: absolute;
    bottom: 25px;
    right: 25px;
}
