---
import { TopPageComponent } from "../ui/pages/top/top";

// This should be replaces with vite plugin in astro.config.mjs
declare const __LABS__ALL_PROJECTS__: string[];

const allProjects = __LABS__ALL_PROJECTS__;
---
<html>
  <body>
    <TopPageComponent allProjects={allProjects} />
  </body>
</html>