.cardStyle {
  max-width: 200px;
  max-height: 150px;
  min-width: 80px;
  min-height: 60px;

  width: 20vw;
  height: 16vw;

  display: inline-block;

  background: #eee;
  border: 1px solid white;
  color: black;
  border-radius: 6px;
  margin: 12px 24px;

  list-style: none;

  img {
    width: 37.5%;
    height: 50%;
    display: block;
    margin: auto;
    object-fit: contain;
  }

  .title {
    font-size: clamp(1px,0.6rem,36px);
    padding: 2px;
    display: inline-block;
    margin: 2px auto;
  }
}
