@import "./_components//header";
@import "./_components/footer";
@import "./_components/divider";
@import "./_components/button";
@import "./_components/tag";
 
.inner {
  position: relative;
  top: 72px;
  overflow: hidden;
  padding-bottom: 72px;
}

body {
  margin: 0;
}